.expense-page-container {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.expense-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.expense-form label {
    margin-bottom: 15px;
}

.expense-form input[type='text'],
.expense-form input[type='number']{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #adf7d6;
    border-radius: 3px;
}
.expense-form input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #adf7d6;
    border-radius: 3px;
}
.expense-form input[type='checkbox']:checked {
    background-color: #30c280;
}

.expense-form button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #30c280;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expense-form button:hover {
    background-color: #16cc68;
}

.expense-form select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #adf7d6;
    border-radius: 3px;
}
@media screen and (max-width: 768px) {
    .expense-form {
        padding: 15px;
        max-width: 80%;
    }

    .expense-form label {
        margin-bottom: 10px;
    }

    .expense-form input[type='text'],
    .expense-form input[type='number'],
    .expense-form input[type='checkbox'] {
        font-size: 0.9em;
    }
}

