.home-page-container {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.balance-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #30c280;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
}

.balance-link:hover {
    background-color: #30c280;
}
.income-button {
    /* Специфичные стили для кнопки Add Income */
    background-color: #2ecc71;
}

.expense-button {
    /* Специфичные стили для кнопки Add Expense */
    background-color: #e74c3c;
}


/*charts*/
.charts-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px !important;
}

.mini-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-chart canvas {
    margin-bottom: 10px;
}

.labels-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Располагаем лэйблы справа в контейнере */
    justify-content: center;
}

#chartCanvas {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
}

.label-item {
    display: flex;
    align-items: center;
}

.color-marker {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}



/*financial records*/

.table-container {
    margin: auto;
    max-width: 800px; /* Максимальная ширина таблицы */
}

.table-container table {
    width: 100%;
    margin-bottom: 1rem; /* Пробел между таблицей и другими элементами */
}

.table-container th,
.table-container td {
    text-align: center; /* Выравнивание текста по центру */
    padding: 0.75rem; /* Внутренний отступ ячеек */
}

/* Добавление Bootstrap стилей */
.table-container table {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #dee2e6;
}


@media (min-width: 768px) {
    /* PC */
    #chartCanvas {
        max-width: 600px;
        margin: 0 auto 0 250px;
        display: block;
    }

    .mini-chart {
        grid-column: 1 / span 1;
    }

    .labels-container {
        grid-column: 2 / span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mini-chart canvas {
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .charts-container {
        grid-template-columns: 1fr;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 20px !important;
    }

    .labels-container {
        align-items: flex-start;
    }

    .mini-chart canvas {
        max-width: 150px;
        max-height: 150px;
    }
    .balance-link {
        padding: 8px 16px;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 768px) {
    .home-page-container {
        padding: 30px;
    }

    h1 {
        font-size: 1.5em;
    }

    .balance-link {
        padding: 8px 16px;
    }
}
